<section class="login__error container">
  <img src="/images/mario-gif.gif" alt="" aria-hidden="true" />
  <h2 lang="en">Try Again!</h2>
  <p>It looks like your username and/or password are invalid. Try again.</p>
</section>
