<section class="login__error container">
  <img src="/images/mario-gif.gif" alt="" aria-hidden="true" />
  <h2 lang="en">Try Again!</h2>
  <p>
    It looks like you didn't enter a valid password, or the password doesn't match our records.
  </p>
</section>
